
.DS_Store
AppIcons/appstore.png
AppIcons/Assets.xcassets/AppIcon.appiconset/1024.png
AppIcons/Assets.xcassets/AppIcon.appiconset/128.png
AppIcons/Assets.xcassets/AppIcon.appiconset/16.png
AppIcons/Assets.xcassets/AppIcon.appiconset/256.png
AppIcons/Assets.xcassets/AppIcon.appiconset/32.png
AppIcons/Assets.xcassets/AppIcon.appiconset/512.png
AppIcons/Assets.xcassets/AppIcon.appiconset/64.png
AppIcons/Assets.xcassets/AppIcon.appiconset/Contents.json
AppIcons/playstore.png
